<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'index')" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-offset-2 col-sm-8">
								<h3 th:text="#{html.discovery.title}" />
							</div>
						</div>
	
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal">
									<fieldset>
										<div class="form-group">
											<label class="col-sm-2 control-label" th:text="#{html.discovery.municipality}"/>
											<div class="col-sm-8 clearfix">
												<select class="form-control" id="selectIdP">
													<option th:each="idp : ${identityProviders}" th:value="${idp.entityId}" th:text="${idp.name}" />
												</select>
											</div>
											<div class="col-sm-offset-2 col-sm-8">
												<div class="checkbox c-checkbox">
													<label>
														<input id="remember" type="checkbox" />
														<span class="fa fa-check"></span>
													</label>
													<th:block th:text="#{html.discovery.remember}" />
												</div>
											</div>
										</div>
									</fieldset>
									
									<fieldset>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-8">
												<div class="col-sm-6">
													<button type="button" id="loginBtn" class="btn btn-lg btn-block btn-primary col-xs-2" style="margin-right: 5px;" th:text="#{html.discovery.login}"/>
												</div>
												<div class="col-sm-6">
													<a th:href="@{/vendor/login}" class="btn btn-lg btn-block btn-warning col-xs-2" th:text="#{html.discovery.vendor}"/>
												</div>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
		        </div>
		    </div>
	    </section>
	</div>
	
	<nav th:replace="fragment/footer :: footer" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/

	/*[+
		var loginUrl = [[@{/saml/login?idp=}]];
	+]*/

		$("document").ready(function() {
			if (typeof $.cookie("idp") != 'undefined') {
				$("#selectIdP").val($.cookie("idp"));
				$("#remember").prop('checked', true);
			}

			$("#loginBtn").click(function() {
				if ($("#remember").is(":checked")) {
					$.cookie("idp", $("#selectIdP").val(), {
						expires: 365,
						secure: true
					});
				}
				else {
					$.removeCookie("idp");
				}

				window.location.href = loginUrl + $("#selectIdP").val();
			});
		});

	/*]]>*/
	</script>
</body>
</html>
