<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'requirements')" />
 
		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.requirement.page.history.title}"></span>
				</h3>
	
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table class="listTable table table-striped table-hover">
										<thead>
											<tr>
												<th class="col-md-10" th:text="#{html.requirement.page.history.timestamp}"/>
												<th class="col-md-2" th:text="#{html.header.operation}"/>
											</tr>
										</thead>

										<tbody>
											<tr th:each="revision : ${revisions}">
												<td th:text="${#temporals.format(revision.requiredRevisionInstant, 'dd-MM-yyyy HH:mm:ss')}"/>
												<td>
													<a th:href="@{/requirement/history/{id}/detail/{revId}(id=${revision.entity.id},revId=${revision.requiredRevisionNumber})}"><em class="fa fa-fw fa-search" th:title="#{html.mouseover.view}"></em></a>
													<a th:href="@{/requirement/history/{id}/download/{revId}(id=${revision.entity.id},revId=${revision.requiredRevisionNumber})}"><em class="fa fa-fw fa-file-excel-o" th:title="#{html.mouseover.excel}"></em></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragment/footer :: footer" />

	<script th:replace="fragment/datatables :: datatables "/>

</body>
</html>
