<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
	<div class="wrapper">
		<header th:replace="fragment/navbar :: navbar-header" />
		<aside th:replace="fragment/navbar :: navbar-aside (page = 'requirements.shared')" />
 
		<section>
			<div class="content-wrapper">
				<h3>
					<a class="btn btn-default" th:href="@{/requirement/history/{id}(id=${requirement.id})}"><em class="fa fa-fw fa-list" th:title="#{html.mouseover.history}">&nbsp</em><span th:text="#{html.requirement.page.view.history}"></span></a>
				</h3>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<h3 th:text="${requirement.name}" />
							</div>
							
							<div class="col-lg-12 preformat" th:text="${requirement.description}" />
	
	                        <div class="col-lg-12 preformat" th:if="${requirement.cvr == '00000000'}" th:text="${requirement.extDescription}" />
	
							<div class="col-lg-12" style="padding-top: 20px;">
								<form class="form-horizontal" id="requirement-form" method="post" th:object="${requirement}">
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.rationale}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.rationale}"></em>
											</label>

											<div class="col-sm-9">
												<textarea rows="6" th:field="${requirement.rationale}" class="form-control" disabled="disabled"></textarea>
											</div>
										</div>
										
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.helptext}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.helptext}"></em>
											</label>

											<div class="col-sm-9">
												<textarea rows="6" th:field="${requirement.helpText}" class="form-control" disabled="disabled"></textarea>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:utext="#{html.requirement.attachments}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.attachments}"></em>
											</label>

											<div class="col-sm-9">
												<ul>
													<li class="row" th:each="attachment,i : *{attachments}">
														<div class="col-sm-9 form-control-static">
															<em class="fa fa-fw fa-paperclip"></em>
															<a th:text="${attachment.name}" th:href="${attachment.url}"></a>
														</div>
													</li>
												</ul>
											</div>
										</div>
										
										<div class="form-group" th:if="${requirement.cvr == '00000000'}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:utext="#{html.requirement.localattachments}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.localattachments}"></em>
											</label>

											<div class="col-sm-9">
												<ul>
													<li class="row" th:each="attachment,i : *{localAttachments}">
														<div class="col-sm-9 form-control-static">
															<em class="fa fa-fw fa-paperclip"></em>
															<a th:text="${attachment.name}" th:href="${attachment.url}"></a>
														</div>
													</li>
												</ul>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label" th:text="#{html.requirement.id}"/>
											<div class="col-sm-9">
												<input th:value="${requirement.id}" class="form-control" readonly="readonly"/>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.category}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.category}"></em>
											</label>
											
											<div class="col-sm-9">
												<input th:value="*{categoryRichObject.name}" class="form-control" readonly="readonly"/>
											</div>
										</div>
										
										<div class="form-group" th:if="${requirement.subcategoryName != null}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.subcategory}"></span>
											</label>
											
											<div class="col-sm-9">
												<input th:value="*{subcategoryName}" class="form-control" readonly="readonly"/>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.importance}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.importance}"></em>
											</label>

											<div class="col-sm-9">
												<input th:value="#{__${T(dk.digitalidentity.re.dao.model.enums.Importance).valueOf(requirement.importance).value}__}" class="form-control" readonly="readonly" />
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.principles}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.principles}"></em>
											</label>

											<div class="col-sm-9">
												<ul style="padding-top: 6px; padding-left: 30px; list-style-type: square;">
													<li style="padding-left: 15px;" th:each="principle : *{principlesRichObjects}" th:value="${principle.id}" th:text="${principle.name}" ></li>
												</ul>
											</div>
										</div>
	
										<div class="form-group" th:if="${requirement.availableForAllDomains}">
											<label style="text-align: left;" class="col-sm-3 control-label" th:text="#{html.requirement.availableforalldomains}"/>
											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{availableForAllDomains}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>
	
										<div class="form-group" th:if="not ${requirement.availableForAllDomains}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.domains}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.domains}"></em>
											</label>

											<div class="col-sm-9">
												<ul style="padding-top: 6px; padding-left: 30px; list-style-type: square;">
													<li style="padding-left: 15px;"  th:each="domain : *{domainsRichObjects}" th:value="${domain.id}" th:text="${domain.name}" ></li>
												</ul>
											</div>
										</div>
										
										<div class="form-group" th:if="${requirement.availableForAllTags}">
											<label style="text-align: left;" class="col-sm-3 control-label" th:text="#{html.requirement.availableforalltags}"/>
											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{availableForAllTags}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>
										
										<div class="form-group" th:if="not ${requirement.availableForAllTags}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.tags}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.tags}"></em>
											</label>

											<div class="col-sm-9">
												<ul style="padding-top: 6px; padding-left: 30px; list-style-type: square;">
													<li style="padding-left: 15px;" th:each="tag : *{tagsRichObjects}" th:value="${tag.id}" th:text="${tag.name}"></li>
												</ul>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.isInfoRequirement}"></span>
												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.isInfoRequirement}"></em>
											</label>

											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{infoRequirement}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.relevantForSaas}"></span>
 												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.relevantForSaas}"></em>
											</label>

											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{relevantForSaas}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirement.relevantForOnPremise}"></span>
 												<em class="fa fa-fw fa-question" data-container="body" data-toggle="popover" data-trigger="focus" tabindex="-1" data-placement="right" th:attr="data-content=#{html.helptext.requirement.relevantForOnPremise}"></em>
											</label>

											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{relevantForOnPremise}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label" th:text="#{html.requirement.changed}"/>
											<div class="col-sm-9">
												<input th:value="${#dates.format(requirement.lastChanged, 'yyyy/MM/dd - HH:mm')}" class="form-control" readonly="readonly"/>
											</div>
										</div>
	
										<div class="form-group">
											<label style="text-align: left;" class="col-sm-3 control-label" th:text="#{html.requirement.interestedparty}"/>
											<div class="col-sm-9">
												<input th:value="${requirement.interestedParty}" class="form-control" readonly="readonly"/>
											</div>
										</div>

										<div class="form-group" th:if="${requirement.cvr == '00000000' and requirement.extDisable == true}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirementext.disabled}"></span>
											</label>

											<div class="col-sm-9">
												<div class="checkbox c-checkbox" style="padding-left: 15px;">
													<label>
														<input class="checkboxaction" type="checkbox" readonly="readonly" disabled="disabled" th:checked="*{extDisable}" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</div>
										</div>

										<div class="form-group" th:if="${requirement.cvr == '00000000'}">
											<label style="text-align: left;" class="col-sm-3 control-label">
												<span th:text="#{html.requirementext.disable.reason}"></span>
											</label>

											<div class="col-sm-9">
												<textarea rows="6" th:field="*{extDisableReason}" class="form-control" disabled="disabled"></textarea>
											</div>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragment/footer :: footer"/>

	<script th:inline="javascript">
		$(function () {
			$('[data-toggle="popover"]').popover();
		});
	</script>
</body>
</html>
